/*Importamos Fuente*/
@font-face {
    font-family: 'Hedving';
    src: url('../assets/fonts/HedvigLettersSans-Regular.ttf');
}

body{
    /*Insertar Fuente*/
    font-family: 'Hedving', sans-serif;
    /*Insertar imagen*/
    background-image: url('../assets/imgs/fondo.jpg');
    /*Cubrimos todo el ancho de la pagina*/
    background-size: cover;
    /*Se mantiene la imagen fija*/
    background-attachment: fixed;
    /*Evita la repeticion de la imagen*/
    background-repeat: no-repeat;
    text-align: center;
}
h1{
    font-size: 3rem;
    text-shadow: 3px 3px 3px blue;
    animation: blink 3s infinite ease-out forwards ;
}
.automovil{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    background-color: linear-gradient(2px 2px, 5px 2px, rgba(253,23,2,0.75));
    width: 50%;
    margin: 50px auto;
    border-radius: 15px;
}
.title{
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 5px 4px rgb(3, 79, 180);
    color: yellow;
}
p{
    margin: 2px;
    padding: 0;
    font-weight: bold;
}

/*Modifica la primera letra del título*/
h1::first-letter{
    color: rgb(195, 2, 169);
    font-size: 5rem;
    
}
/*Modifica la primera línea del codigo*/
.title::first-line{
    color: black;
}
@keyframes blink {
    0% { 
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% { opacity: 0; 
    }

    100% {
        opacity: 1;
    }
}
